.git/
.gitignore
*.egg-info/
*.pyc

dist/
build/
cache/
node_modules/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

algorithmx/nbextension
algorithmx/labextension
docs/jupyer_execute/
