docs/build/
docs/jupyter_execute/
docs/source/_static/index.js
docs/source/_static/index.js.map
algorithmx/nbextension/static/
algorithmx/labextension/

build/
dist/
cache/
__pycache__/
.pytest_cache/
node_modules/

coverage.xml
MANIFEST
.coverage
.ipynb_checkpoints

*.egg-info/
*.egg
*.sqlite
*.pyc
.env
.python-version
.DS_Store
.pyre/
.vscode/

