coverage.xml
MANIFEST
.coverage
.ipynb_checkpoints

*.egg-info/
*.egg
*.sqlite
*.pyc
.env
.python-version
.DS_Store
.vscode/
yarn.lock

build/
dist/
cache/
__pycache__/
.pytest_cache/
.mypy_cache/
node_modules/

docs/jupyter_execute/
algorithmx/nbextension/
algorithmx/labextension/
