include LICENSE.txt
include README.md
include changelog.md
include pyproject.toml
include algorithmx-jupyter.json
include algorithmx/server/*.html

graft algorithmx/nbextension
graft algorithmx/labextension
graft algorithmx/server/dist
graft tests

global-exclude *.pyc
